<app-home></app-home>
<mat-toolbar>

    <mat-form-field class="spacer">
        <mat-label>Search</mat-label>
        <input matInput type="text" (keyup)="search($event)">
    
    </mat-form-field>

    <button mat-raised-button color="primary" (click)="create()" class="button-create">
        <mat-label>Create</mat-label>
    </button>
</mat-toolbar>

<table mat-table [dataSource]="dataSource">

    <div *ngFor="let title of titles">

        <ng-container  matColumnDef="{{title}}">
            <th mat-header-cell *matHeaderCellDef>{{title}}</th>
            <span *ngIf="title != 'edit' && title != 'delete'">
                <td mat-cell *matCellDef="let element">{{element[title]}}</td>
            </span>

            <span *ngIf="title == 'edit'">
                <td mat-cell *matCellDef="let element">
                    <button mat-button color="primary" (click)="edit(element['id'])">Edit</button>
                </td>
            </span>

            <span *ngIf="title == 'delete'">
                <td mat-cell *matCellDef="let element">
                    <button mat-button color="warn" (click)="delete(element['id'])">Delete</button>
                </td>
            </span>
        </ng-container>
    </div>

    <tr mat-header-row *matHeaderRowDef="titles"></tr>
    <tr mat-row *matRowDef="let row; columns: titles;"></tr>
</table>
<mat-paginator [pageSizeOptions]="[5, 10, 20 ]"></mat-paginator>
