<app-home></app-home>

<mat-card>
    <mat-card-content>
        <form [formGroup]="heroForm">

            <mat-form-field appearance="fill">
                <mat-label>NAME</mat-label>
                <input matInput type = "text" formControlName="name" appUppercase oninput="this.value = this.value.toUpperCase()" required>
                <mat-error *ngIf="heroForm.controls['name'].hasError('required')">FIELD REQUIRED</mat-error>
            </mat-form-field>

            <mat-form-field appearance="fill">
                <mat-label>CITY</mat-label>
                <input matInput type = "text" formControlName="city" appUppercase oninput="this.value = this.value.toUpperCase()" required>
                <mat-error *ngIf="heroForm.controls['city'].hasError('required')">FIELD REQUIRED</mat-error>
            </mat-form-field>

            <mat-form-field appearance="fill">
                <mat-label>SUPERPOWER</mat-label>
                <input matInput type = "text" formControlName="superpower" appUppercase oninput="this.value = this.value.toUpperCase()" >
            </mat-form-field>

            <mat-form-field appearance="fill">
                <mat-label>REAL NAME</mat-label>
                <input matInput type = "text" formControlName="realName" appUppercase oninput="this.value = this.value.toUpperCase()" required>
                <mat-error *ngIf="heroForm.controls['realName'].hasError('required')">FIELD REQUIRED</mat-error>
            </mat-form-field>
        </form>
        
    </mat-card-content>

    <mat-card-actions>
        <button mat-raised-button color="primary" (click)="edit()"  [disabled]="!heroForm.valid">
            Edit
        </button>
    </mat-card-actions>
</mat-card>